/* Global CSS*/

body {
background-color: #F1F1F1;
margin: 0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 20px;
color: #333;

}
.wrapper
{
margin:auto;
width:1000px;
}
ul, ol {
padding: 0;
margin: 0 0 10px 25px;
}

a {
text-decoration: none;
}

.pull-left {
float:left;
}
.pull-right {
	float:left;
    font-size: 11px;
    margin-bottom: 4px;
    opacity: 0.7;
}
.pull-right span,.info a{
color:#6F6A4A;

}
.not-comment{
	display: inline-block;
    width: 22px;
    height: 15px;
    background: url("../img/comment.png") no-repeat;
}
#modalContent {

top: 10%;
z-index: 1050;
background-color: white;
border:none;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
outline: 0;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
}

/*Login page*/

.desc-slogan {
float: left;
padding-top: 10px;
font-size: 24px;
line-height: 1;
color:white;
}

div.ctools-modal-content {
border:none;
}

div.ctools-modal-content .modal-header {
padding: 9px 15px;
border-bottom: 1px solid #EEE;
background-color:white;
}

div.ctools-modal-content .modal-title {
font-size: 31.5px;
color:black;
line-height:40px;
}

#modalContent #user-login input#edit-pass, #modalContent #user-login input#edit-name,#modalContent #user-login input#edit-name--2, #modalContent #user-login input#edit-pass--2{
width:100%;
min-height: 20px;
}

#modalContent #user-login .login-forgot {
float:right;
}

#modalContent #user-login .form-actions {
background-color:white;
border:none;
padding:0;
margin:0;
}
/*End Loginpage*/
 /*CSS of the home and board page grid*/

.big-box{
background: url("../img/headerBG.jpg") repeat-x;
height: 89px;
padding-top: 14px;
font-size: 12px;
}

.content-box {

margin-right: auto;
margin-left: auto;
width: 1200px;

}
/**this is removed to have 4 column view **/
.content-box .grid12-12 {
width: 990px; !important
}

.content-box::before, .container-box::after {
display: table;
line-height: 0;
content: "";
}

/* Top Header CSS*/

.top-header{
height: 48px;
}

#header-top-wrapper{
height: 48px;
float:left;
width:206px;
min-width: 206px;
}
#search-block-form {
position: relative;
margin-top: 5px;
float: left;
margin-bottom: 0px;

}
input#edit-search-block-form--2 {  
padding: 4px 14px;
margin-bottom: 0;
margin-left: 0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
font-weight: normal;
line-height: 1;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background-color: white;
border: 1px solid #CCC;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s,box-shadow linear .2s;
-moz-transition: border linear .2s,box-shadow linear .2s;
-o-transition: border linear .2s,box-shadow linear .2s;
transition: border linear .2s,box-shadow linear .2s;
display: inline-block;
height: 20px;
width: 206px;
color: #555;
vertical-align: middle;

}

.logo {
height: 100%;
width: 103px;
margin-left:100px;
float: left;
}

/*Right side menu box*/

#header-container ul.nice-menu {
float:right;
margin-bottom: 20px;
margin-left: 0;
list-style: none;
}

ul.nice-menu a {
color: #FFF;
padding: 0px;
}

ul.nice-menu ul {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
background-color: white;
border: 1px solid #CCC;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}

ul.nice-menu ul a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 20px;
color: #333;
white-space: nowrap;

}

ul.nice-menu-down li {
border: none;
background-color: none;
}

ul.nice-menu > .active-trail > a, ul.nice-menu > .active-trail > a:hover {
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
background-color: rgba(45, 68, 12, 0.65);
border-color: #2D440C;
}


ul.nice-menu a:hover {
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
background-color: rgba(45, 68, 12, 0.65);
border-color: #2D440C;
text-decoration:none;
}

ul.nice-menu li.last a:hover {
text-shadow: none;
}

ul.nice-menu ul a:hover {
color: black;

background-color: whiteSmoke;
border-color: #2D440C;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

ul.nice-menu > li > a {

padding-top: 8px;
padding-right: 12px;
padding-bottom: 8px;
padding-left: 12px;
margin-top: 2px;
margin-right: 2px;
margin-bottom: 2px;
line-height: 14px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
display: block;
}

ul.nice-menu ul li {
padding-left: 10px;
padding-right: 10px;
}

/* Individual paste in board*/
.masonry-item {
width: 224px;
margin-right: 20px;
position: relative;
margin-bottom: 20px;
float: left;
text-align: center;

}

.curl{
    position: absolute;
    top: 1px;
    left: 3px;
    background: url("../img/curl.png") 0 0 no-repeat;
    width: 66px;
    height: 41px;
}

.rec-top{
background: url("../img/rec-top.png") 0 0 no-repeat;
width: 224px;
height: 42px;
    }

.top{
background: url("../img/top.png") 0 0 no-repeat;
width: 224px;
height: 42px;
    }

.mid{
    background: url("../img/mid.png") 0 0 repeat-y;
    width: 224px;
    z-index: 100;
    position: relative;
    width: 192px;
    padding: 0 16px;
}

.title{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.1;
    color: #6f6a4a;
	text-align:left;
}

#content-region-inner h1{
	/*display:none;*/
}
.category{
    margin-bottom: 5px;
    color: #ababaa;
	text-align:left;
}
/*.mid a{
    color: #6F6A4A;
}*/
.title a{
	color: #6F6A4A;
}

.paste-bar{
    background-color: #f5f0b5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.not-liked{
    display: inline-block;
    width: 13px;
    height: 11px;
    background: url("../img/heart-toggle.png") -16px 0 no-repeat;
}

.not-shared{
    display: inline-block;
    width: 13px;
    height: 11px;
    background: url("../img/heart-toggle.png") 0 0 no-repeat;
}

.info{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ababaa;
}
.comment-area{
    font-size: 11px;
    line-height: 1;
    width: 180px;
    height:29px;
    resize: none;
    border: 1px solid #ababaa;
	border-radius: 5px 5px 5px 5px;
	padding:2px 5px;
}

.comment-area:focus{
    border: 1px solid #ababaa;
    box-shadow: 0 1px 1px rgba(34, 29, 29, 0.2) inset;
    outline: none;
}
.bot{
   background: url("../img/bot.png") 0 0 no-repeat;
    width: 224px;
    height: 44px;
}

.desc{
    color: #6f6a4a;
    text-align: left;
    font-size: 13px;
    line-height: 1.2;
}

.descMeta{
    padding: 0 15px 10px 15px;
    text-align: left;
}


.lt-ie8 .notepaper {
    padding: 15px 25px;
}

.mid .comment {
margin: 0px;
}


/*City and Category filters in the middle*/

.views-widget-filter-tid, .views-widget-filter-tid_1 label{
padding: 4px 3px;
color: rgba(0, 0, 0, 0.5 );
}


/* profile page css */
.user-pic{
    width: 168px;
    margin-right: 20px;
}
.user-desc{
    width:450px;
    margin-right: 10px;
    text-align: left;
}
.user-stats{
    width:150px;
    text-align: left;
    font-size: 14px;
}
.user-name{
    text-align: left;
    font-size: 16px;
    line-height: 1.1;
    color: #111111;
}
.user-edit-link {
	display: inline-block;
	padding: 4px 12px;
	border-color: #C5C5C5;
	background-color: whiteSmoke;
	text-align: center;
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	border: 1px solid #BBB;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
}
.user-edit-link a {
	text-decoration: none;
	color: #333;
}
.user-profile{
    width:800px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: #fefefe;
    border: 1px solid #f2f2f2;
    border-color: rgba(212, 212, 212, 0.87);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 1px rgba(237, 237, 237, 0.49);
    text-align: center;
    height:214px;
}
.pull-left {
	float: left;
	padding-top: 5px;
}
.flag,
.username{
	color:#D69700;
}
/* end profile page css */


/*
To keep taxonomy filter in the middle
*/

 #block-views--exp-dashboard-page_2 {
	margin-left: 36%;/*22%;*/
	margin-top: -3px;
	width:500px;
}
#block-views--exp-dashboard-page_2 .views-exposed-form label {
	float: left;
	margin-right: 3px;
	padding: 2px 0px 0px;
}
#block-views--exp-dashboard-page_2 .views-exposed-form .views-exposed-widget {
	padding-top: 0px;
}
#block-views--exp-dashboard-page_2 .views-exposed-form .views-widget {
	float: left;
}
/*----paste 940------*/
#content-group .content-group{
	width:940px;
}
#test
{
	width:1000px;
}
.user-col{
	width:220px;
}
/*-------------------Profile Page----------------------------------------*/
#block-system-main .user-picture img{
	border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
/*.user-name{
    color: #111111;
    font-size: 16px;
    line-height: 1.1;
    text-align: left;
}*/
.field-type-taxonomy-term-reference .field-item a{
	color:#888888;
}
.field-name-field-description .field-item{
	margin:0 0 10px;
}
.follow .flag-follow-users .flag{
	color:#ffffff;
	text-decoration:none;
}

.follow .flag-follow-users{
	margin-left:-20px;
}

.follow .flag-follow-users{
	background-color: #DA4F49;
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
	vertical-align: middle;
}

.follow .flag-follow-users:hover{
	background-color:#BD362F;
	color:#333;
	text-decoration:none;
	background-position:0 -15px;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear;
	
}
.user-stats .edit-profile a{
	color:#333333;
}

.user-stats .edit-profile a:hover{
	text-decoration:none;
	color:#333333;
}

.user-stats .edit-profile,#edit-actions .form-submit{
  `	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	margin-bottom:20px;
}
.user-stats .edit-profile,.follow .flag-follow-users{
	margin-top:20px;
}
.user-stats .edit-profile:hover,#edit-actions .form-submit:hover{
	background-color:#E6E6E6;
	background-position:0 -15px;
	transition:background-position .1s linear 0s;
}
.stat-no {
    font-weight: bold;
}
.stat-no {
    font-weight: bold;
}
.single-stat {
    border-bottom: 1px solid #EFEFEF;
    line-height: 2;
}

.single-stat a {
    color: #0088CC;
    text-decoration: none;
}
.user-profile .follow dt{
	display:none;
}
/*-----------------------Individual Page--------------------------*/
.user-col{
	-moz-box-sizing: border-box;
    background-color: #FEFEFE;
    border: 1px solid rgba(212, 212, 212, 0.87);
    box-shadow: 0 1px rgba(237, 237, 237, 0.49) inset;
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
    width: 190px;
}
.user-col .user-name{
	color: #6F6A4A;
    font-size: 16px;
    line-height: 1.1;
    padding: 10px;
    text-align: center;
}
.user-pic{
	text-align: center;
}
.user-pic img{
	border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.paste-col{
    -moz-box-sizing: border-box;
    background-color: #FEFEFE;
    border: 1px solid rgba(212, 212, 212, 0.87);
    box-shadow: 0 1px rgba(237, 237, 237, 0.49) inset;
    margin-right: 50px;
    margin-top: 10px;
    padding: 20px;
    position: relative;
    width: 600px;
}
.paste-title {
    color: #222222;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 0;
}
.info {
    color: #ABABAA;
    margin-bottom: 10px;
    margin-top: 10px;
}
.paste-container .paste-bar .pull-left a, .info a{
	color: #0088CC;
	text-decoration:none;
}
.date {
    color: #ABABAA;
    margin-bottom: 5px;
}
.info .pull-right,.paste-container .paste-bar .pull-right{
	float:right;
	margin-top:5px;
}
.paste-img img{
	border:1px solid #C7BFAE;
}
.paste-desc{
	font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.sub-paste-title{
	border-top: 1px solid #EEEEEE;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
    padding-top: 20px;
}
.comment-author{
	margin-bottom:10px;
}
.author-avatar{
	margin-right: 5px;
    width: 50px;
}
.author-area{
	height: 45px;
    width: 450px;
}
.author-avatar img{
	border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.comment-author  .author-area
{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 60px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
 }
#header-site-info-inner{
	display:none !important;
}
#test .paste-container .paste-col .view-display-id-block_2 .views-row{
	margin-bottom: 20px;
    width: 260px;
}
#test .paste-container .paste-col .view-display-id-block_2 .views-row .views-field-name{
	float: left;
}
#test .paste-container .paste-col .view-display-id-block_2 .views-row .views-field-name .field-content .username{
	color: #333333;
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
}
#test .paste-container .paste-col .view-display-id-block_2 .views-row .views-field-picture .views-label-picture{
	border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
#test .paste-container .paste-col .view-display-id-block_2 .views-row .views-field-name .views-label-name
{
	margin-right: 10px;
}
#test .submitted span a{
	color:#0088CC;
}
#comments .comment{
	background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    padding: 10px;
}
#comments .comment .user-picture{
	margin-right: 5px;
    width: 50px;
	float:left;
}
/*#comments .comment .user-picture img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}*/

#comments .field-items .field-item
{
	margin-bottom: 0;
}
#comments .comment .title,#comments .comment .submitted,#comments .comment .content,#comments .comment .links{
    margin-left: 10px;
    width: 440px;
	float:left;
}
/*#comments .comment .content,#comments .comment .links{
	margin-left:66px;
}*/
#comments.comment-by-viewer .title{
	float:left;
}
#comments h3 a{
    font-weight: 700;
    margin-bottom: 0;
	color: #0088CC !important;
    text-decoration: none;
}
.overlay #skip-link, 
.overlay .region-page-top, 
.overlay #header, 
.overlay #page-title, 
.overlay #featured, 
.overlay #sidebar-first, 
.overlay #triptych-wrapper, 
.overlay #footer-wrapper {
	display:none;
}
#comment-body-add-more-wrapper .form-textarea-wrapper textarea{
	height: 45px;
    width: 450px;
	border-radius: 5px 5px 5px 5px;
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.resizable-textarea .grippie{
	display:none;
}
#edit-actions{
	float:right;
}
#edit-author--2 label,#comment-body-add-more-wrapper label
{
	display:none;
}

