/* Global CSS*/

body {
background-color: #F2FBF5;
margin: 0;
font-family: "Helvetica Neue",Arial,sans-serif;
font-size: 14px;
line-height: 20px;
color: #333;

}
html { overflow-x: hidden; overflow-y: auto; }
.wrapper
{
margin:auto;
width:1000px;
}
#block-views--exp-dashboard-page_3 .gutter {
margin-left: -50px;
}
ul, ol {
padding: 0;
margin: 0 0 10px 25px;
}

a {
text-decoration: none;
}

.pull-left {
float:left;
}
.pull-right {
    float:right;
  
    /*opacity: 0.7; */
}

.not-comment{
	display: inline-block;
    width: 22px;
    height: 15px;
    background: url("../img/comment.png") no-repeat;
}
#postscript-bottom-wrapper .grid12-12 {
width: 980px;
}

#modalContent {

top: 10%;
z-index: 1050;
background-color: white;
border:none;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
outline: 0;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
}

/*Login page*/

.desc-slogan {
float: left;
padding-top: 10px;
font-size: 24px;
line-height: 1;
color:white;
}

div.ctools-modal-content {
border:none;
}

div.ctools-modal-content .modal-header {
padding: 9px 15px;
border-bottom: 1px solid #EEE;
background-color:white;
}

div.ctools-modal-content .modal-title {
font-size: 31.5px;
color:black;
line-height:40px;
}

#modalContent #user-login input#edit-pass, #modalContent #user-login input#edit-name,#modalContent #user-login input#edit-name--2, #modalContent #user-login input#edit-pass--2{
width:100%;
min-height: 20px;
}

#modalContent #user-login .login-forgot {
float:right;
}

#modalContent #user-login .form-actions {
background-color:white;
border:none;
padding:0;
margin:0;
}

.page-user-login .ctools-modal-ctools-ajax-register-style{
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #006DCC;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-repeat: repeat-x;
border-color: #F89406 #F89406 #AD6704;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',endColorstr='#fff89406',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-radius: 6px 6px 6px 6px;
    font-size: 17.5px;
    padding: 11px 19px;
}
.page-user-login .ctools-modal-ctools-ajax-register-style:hover{
text-decoration:none;
}
/*End Loginpage*/
 /*CSS of the home and board page grid*/

.big-box{
background: url("../img/headerBG.jpg") repeat-x;
height: 89px;
padding-top: 14px;
}

/**.content-box {

margin-right: auto;
margin-left: auto;
width: 990px;

}
*/
/**this is removed to have 4 column view **/
.content-box .grid12-12 {
width: 990px; !important
}

.content-box::before, .container-box::after {
display: table;
line-height: 0;
content: "";
}

/* Top Header CSS*/

.top-header{
height: 48px;
}

#header-top-wrapper{
height: 48px;
float:left;
min-width: 206px;
}
#search-block-form {
position: relative;ch
margin-top: 5px;
float: left;
margin-bottom: 0px;

}
input#edit-search-block-form--2 {  
padding: 4px 14px;
margin-bottom: 0;
margin-left: 0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
font-weight: normal;
line-height: 1;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background-color: white;
border: 1px solid #CCC;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s,box-shadow linear .2s;
-moz-transition: border linear .2s,box-shadow linear .2s;
-o-transition: border linear .2s,box-shadow linear .2s;
transition: border linear .2s,box-shadow linear .2s;
display: inline-block;
height: 20px;
width: 206px;
color: #555;
vertical-align: middle;

}

.logo {
height: 100%;
width: 103px;
margin-left:100px;
float: left;
}

/*Right side menu box*/

#header-container ul.nice-menu {
float:right;
margin-bottom: 20px;
margin-left: 0;
list-style: none;
}

ul.nice-menu a {
color: #FFF;
padding: 0px;
}

ul.nice-menu ul {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
background-color: white;
border: 1px solid #CCC;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}

ul.nice-menu ul a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 20px;
color: #333;
white-space: nowrap;

}

ul.nice-menu-down li {
border: none;
background-color: none;
}

ul.nice-menu > .active-trail > a, ul.nice-menu > .active-trail > a:hover {
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
background-color: rgba(45, 68, 12, 0.65);
border-color: #2D440C;
}


ul.nice-menu a:hover {
color: white;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
background-color: rgba(45, 68, 12, 0.65);
border-color: #2D440C;
text-decoration:none;
}

ul.nice-menu li.last a:hover {
text-shadow: none;
}

ul.nice-menu ul a:hover {
color: black;

background-color: whiteSmoke;
border-color: #2D440C;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

ul.nice-menu > li > a {

padding-top: 8px;
padding-right: 12px;
padding-bottom: 8px;
padding-left: 12px;
margin-top: 2px;
margin-right: 2px;
margin-bottom: 2px;
line-height: 14px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
display: block;
}

ul.nice-menu ul li {
padding-left: 10px;
padding-right: 10px;
}

/* Individual paste in board*/
.masonry-item {
width: 224px;
margin-right: 20px;
position: relative;
margin-bottom: 20px;
float: left;
text-align: center;

}

.curl{
    position: absolute;
    top: 1px;
    left: 3px;
    background: url("../img/curl.png") 0 0 no-repeat;
    width: 66px;
    height: 41px;
}

.rec-top{
background: url("../img/rec-top.png") 0 0 no-repeat;
width: 224px;
height: 42px;
    }

.top{
background: url("../img/top.png") 0 0 no-repeat;
width: 224px;
height: 42px;
    }

.mid{
    background: url("../img/mid.png") 0 0 repeat-y;
    width: 224px;
    z-index: 100;
    position: relative;
    width: 192px;
    padding: 1px 16px;
}

#pid-notifications .title, #pid-messages .title{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.1;
	text-align:left;
	border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		margin-top: 25px;
}
.content {
}
#content-region-inner h1{
	/*display:none;*/
}
.category{
margin-bottom: 5px;
color: black;
text-align: right;
font-weight: Bold;
float: right;
padding-right: 15px;
padding-top: 9px;
}

.category a {
color: black;
}
/*.mid a{
    color: #6F6A4A;
}*/
.title a{
	color: #6F6A4A;uid
}

.author-name-paste {
width: 100%;
text-align: left;
}

.paste-bar{
    background-color: #F1F1F1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.not-liked{
    display: inline-block;
    width: 13px;
    height: 11px;
    background: url("../img/heart-toggle.png") -16px 0 no-repeat;
}

.not-shared{
    display: inline-block;
    width: 13px;
    height: 11px;
    background: url("../img/heart-toggle.png") 0 0 no-repeat;
}

.info{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ababaa;
}
.comment-area{
    font-size: 11px;
    line-height: 1;
    width: 180px;
    height:29px;
    resize: none;
    border: 1px solid #ababaa;
	border-radius: 5px 5px 5px 5px;
	padding:2px 5px;
}

.comment-area:focus{
    border: 1px solid #ababaa;
    box-shadow: 0 1px 1px rgba(34, 29, 29, 0.2) inset;
    outline: none;
}
.bot{
   background: url("../img/bot.png") 0 0 no-repeat;
    width: 224px;
    height: 44px;
}

.desc{
    color: #6f6a4a;
    text-align: left;
    font-size: 13px;
    line-height: 1.2;
}

.descMeta{
    padding: 0 15px 10px 15px;
    text-align: left;
}


.lt-ie8 .notepaper {
    padding: 15px 25px;
}

.mid .comment {
margin: 0px;
}


/*City and Category filters in the middle*/

.views-widget-filter-tid, .views-widget-filter-tid_1 label{
padding: 4px 3px;
color: rgba(0, 0, 0, 0.5 );
}


/* profile page css */
.user-pic{
    width: 168px;
    margin-right: 20px;
}
.user-desc{
    width:450px;
    margin-right: 10px;
    text-align: left;
}
.user-stats{
    width:150px;
    text-align: left;
    font-size: 14px;
}
.user-name{
    text-align: left;
    font-size: 16px;
    line-height: 1.1;
    color: #111111;
}
.user-edit-link {
	display: inline-block;
	padding: 4px 12px;
	border-color: #C5C5C5;
	background-color: whiteSmoke;
	text-align: center;
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	border: 1px solid #BBB;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
}
.user-edit-link a {
	text-decoration: none;
	color: #333;
}
.user-profile{
    width:800px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: #fefefe;
    border: 1px solid #f2f2f2;
    border-color: rgba(212, 212, 212, 0.87);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 1px rgba(237, 237, 237, 0.49);
    text-align: center;
}
.pull-left {
	float: left;
	/*padding-top: 5px;*/
}
.flag,
.username{
	color:#000;
}
/* end profile page css */


/*
To keep taxonomy filter in the middle
*/

 #block-views--exp-dashboard-page_2 {
	margin-left: 36%;/*22%;*/
	margin-top: -3px;
	width:500px;
}
#block-views--exp-dashboard-page_2 .views-exposed-form label {
	float: left;
	margin-right: 3px;
	padding: 2px 0px 0px;
}
#block-views--exp-dashboard-page_2 .views-exposed-form .views-exposed-widget {
	padding-top: 0px;
}
#block-views--exp-dashboard-page_2 .views-exposed-form .views-widget {
	float: left;
}
/*----paste 940------*/
#content-group .content-group{
	width:940px;
}
#test
{
	width:1000px;
}
.user-col{
	width:220px;
}
/*-------------------Profile Page----------------------------------------*/
#block-system-main .user-picture img{
	border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
/*.user-name{
    color: #111111;
    font-size: 16px;
    line-height: 1.1;
    text-align: left;
}*/
.field-type-taxonomy-term-reference .field-item a{
	color:#888888;
}
.field-name-field-description .field-item{
	margin:0 0 10px;
}
.follow .flag-follow-users .flag{
	color:#ffffff;
	text-decoration:none;
}

.follow .flag-follow-users, .follow .flag-follow-categories{
	margin-left:-20px;
}

.follow .flag-follow-users .flag-action, .follow .flag-follow-categories .flag-action  {
	background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
	vertical-align: middle;
}

.follow .flag-follow-users .flag-action:hover, .follow .flag-follow-categories .flag-action:hover{
	background-color:#51A351;
	color:#fff;
	text-decoration:none;
	background-position:0 -15px;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear;
	
}

.follow .flag-follow-users .unflag-action, .follow .flag-follow-categories .unflag-action{
	background-color: #DA4F49;
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
	vertical-align: middle;
}

.follow .flag-follow-users .unflag-action:hover{
	background-color:#BD362F;
	color:#fff;
	text-decoration:none;
	background-position:0 -15px;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear;
	
}
.user-stats .edit-profile a{
	color:#333333;
}

.user-stats .edit-profile a:hover{
	text-decoration:none;
	color:#333333;
}

.user-stats .edit-profile, #next_first-split-form, #paste-node-form .form-actions #edit-cancel, #paste-node-form .form-actions #edit-submit, #pid-user-register #edit-submit, .previous_button{
  `	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	margin-bottom:20px;
}
.user-stats .edit-profile,.follow .flag-follow-users{
	margin-top:20px;
}
.user-stats .edit-profile:hover,#edit-actions .form-submit:hover, #next_first-split-form:hover, .previous_button:hover{
	background-color:#E6E6E6;
	background-position:0 0px;
	transition:background-position .1s linear 0s;
}
.button-disabled:hover{background-color: #F5F5F5!important; background-position:0 0px!important;transition:background-position 0s linear 0s!important;cursor: no-drop;}
.stat-no {
    font-weight: bold;
}
.stat-no {
    font-weight: bold;
}
.single-stat {
    border-bottom: 1px solid #EFEFEF;
    line-height: 2;
}

.single-stat a {
    color: #0088CC;
    text-decoration: none;
}
.user-profile .follow dt{
	display:none;
}
/*-----------------------Individual Page--------------------------*/
.user-col{
	-moz-box-sizing: border-box;
    background-color: #FEFEFE;
    border: 1px solid rgba(212, 212, 212, 0.87);
    box-shadow: 0 1px rgba(237, 237, 237, 0.49) inset;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
    width: 170px;
    border-radius: 3px
}
.user-col .user-name{
	color: #6F6A4A;
    font-size: 16px;
    line-height: 1.1;
    padding: 10px;
    text-align: center;
}
.user-pic{
	text-align: center;
}
.user-pic img{
	border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;pid-messages
}
.paste-col{
    -moz-box-sizing: border-box;
    background-color: #FEFEFE;
    border: 1px solid rgba(212, 212, 212, 0.87);
    box-shadow: 0 1px rgba(237, 237, 237, 0.49) inset;
    margin-right: 50px;
    margin-top: 10px;
    padding: 20px;
    position: relative;
    width: 600px;
}
.paste-title {
    color: #222222;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 0;
}
.info {
    color: #ABABAA;
    margin-bottom: 10px;
    margin-top: 10px;
}
.paste-container .paste-bar .pull-left a, .info a{
	text-decoration:none;
}
.date {
    color: #ABABAA;
    margin-bottom: 5px;
}
.info .pull-right,.paste-container .paste-bar .pull-right{
	float:right;
	margin-top:0px;
}
.paste-img img{
	border:1px solid #C7BFAE;
}
.paste-desc{
	font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.sub-paste-title{
	border-top: 1px solid #EEEEEE;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
    padding-top: 20px;
}
.comment-author{
	margin-bottom:10px;
}
.author-avatar{
	margin-right: 5px;
    width: 50px;
}
.author-area{
	height: 45px;
    width: 450px;
}
.author-avatar img{
	border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.comment-author  .author-area
{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 60px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
 }
#header-site-info-inner{
	display:none !important;
}
#test .paste-container .paste-col .view-display-id-block_2 .views-row{
	margin-bottom: 20px;
    width: 260px;
}
#test .paste-container .paste-col .view-display-id-block_2 .views-row .views-field-name{
	float: left;
}
#test .paste-container .paste-col .view-display-id-block_2 .views-row .views-field-name .field-content .username{
	color: #333333;
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
}
#test .paste-container .paste-col .view-display-id-block_2 .views-row .views-field-picture .views-label-picture{
	border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
#test .paste-container .paste-col .view-display-id-block_2 .views-row .views-field-name .views-label-name
{
	margin-right: 10px;
}
#test .submitted span a{color: #0088CC;font-size: 12px;font-weight: 700;}
#comments .comment{
	background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    padding: 10px;
}
#comments .comment .user-picture,#test .comment-author .user-picture,#test .view-user-interests .user-picture{
	margin-right: 5px;
    width: 50px;
	float:left;
}

#test .view-user-interests{
	display:table;
	margin-bottom:20px;
}
/*#comments .comment .user-picture img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}*/

#comments .field-items .field-item
{
	margin-bottom: 0;
}
#comments .comment .title,#comments .comment .submitted,#comments .comment .content,#comments .comment .links{
    margin-left: 10px;
    width: 440px;
	float:left;
}
/*#comments .comment .content,#comments .comment .links{
	margin-left:66px;
}*/
#comments.comment-by-viewer .title{
	float:left;
}
#comments h3 a{
    font-weight: 700;
    margin-bottom: 0;
	color: #0088CC !important;
    text-decoration: none;
}
.views-row .views-field-nothing .form-textarea-wrapper textarea{
    padding: 3px;
    display:inline!important;
    height: 45px;
    width: 450px;
    border-radius: 5px 5px 5px 5px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
/*.views-field-nothing .comment-form .form-actions{display:none;}
.resizable-textarea .grippie{
	display:none;
}
*/
#comment-form .form-wrapper .form-submit{
	float:right;
	margin-right:55px;
}

/*Category and city filter effects*/

#views-exposed-form-dashboard-page-2{

display:none;
}

#category-list-options .primary-list {
display: none;
}
#city-list-options .city-list {
display: none;
}
#category-list-options #secondary-category-list {
   display: none;   }

/*Category and city filter effects end*/

/*Fixing Overlay */

.page-node-add-paste #overlay {
display: table;
margin: 0 auto;
min-height: 100px;
min-width: 700px;
position: relative;
padding: 0;
padding-bottom: 0px;
padding-right: 0px;
width: 88%;
}
.overlay .main-group-inner{
background-color: white;
}
.page-node-add-paste #overlay #overlay-content {
padding: 0px;
}
.view-id-dashboard .form-type-textarea label {display:none!important;}
.paste-container { float:left;}
.paste-container .username{ color:#6F6A4A;text-decoration: none;}
.paste-container .follow{padding: 9px 0 20px 21px;}
.comment-on-paste .form-textarea-wrapper textarea{padding: 5px;height: 55px; width: 465px;background-color: #FFFFFF;border: 1px solid #CCCCCC;border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;display: inline !important; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;}
/*#content #edit-actions{display:none;} */
.view-id-user_interests .views-row{float:left; margin-left: 10px;}
/*Overlay fixing closed!*/
/* main menu***********/
#header-top-inner #block-block-1{ height: 100px; float: right;position: absolute;}
#block-block-1 .clearfix:after,#block-block-1 .clearfix .inner:after{
  display:inline;
}
#block-views--exp-dashboard-page_3{width:33%;}
#header-top-inner #block-block-1 ul li {display: inline;font-size: 12px;line-height: 132%; padding: 5px;}
#header-top-inner #block-block-1 .dropdown-menu{
    border-radius: 6px 6px 6px 6px;
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 8px 0 0;
    min-width: 160px;
    padding: 5px 0;
    top: 100%;
    z-index: 1000;
    
   
}

#block-block-2{
z-index: 120;
position: relative;
}

#header-top-inner #block-block-1 .dropdown-menu li a{ color: black!important;}
#header-top-inner #block-block-1 ul li a{
    color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding:6px 8px;
}
#header-top-inner #block-block-1 ul li a.active, #header-top-inner #block-block-1 ul li a:hover{
    background-color: rgba(45, 68, 12, 0.65);
    border-color: #2D440C;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;

}
.dropdown-menu li a:hover{
    background-color: #F1F1F1!important;
    text-shadow:none!important;
}
.dropdown-menu li:hover{
    background-color: #F1F1F1;
/*
    background-image: -moz-linear-gradient(top, #DBCD48, #c7b946);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBCD48), to(#c7b946));
    background-image: -webkit-linear-gradient(top, #DBCD48, #c7b946);
    background-image: -o-linear-gradient(top, #DBCD48, #c7b946);
    background-image: linear-gradient(to bottom, #DBCD48, #c7b946);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffDBCD48', endColorstr='#ffc7b946', GradientType=0);
*/
}
#header-top-inner #block-block-1 ul li ul li{display:block;}
#header-top-inner #block-block-1 ul li ul{float: right;}
#header-top-inner #block-block-1 .pull-right{float:right!important}
#edit-keys-wrapper .form-type-textfield{margin-top:-3px;}
/*#block-views--exp-dashboard-page_3 .views-exposed-widget .form-submit{margin-top:0em;padding: 2px 5px 2px 10px;border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);border-radius:0 30px 30px 0;}
*/
#block-views--exp-dashboard-page_3 .views-exposed-widget .form-submit{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F2FBF5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
    border-image: none;
    border-radius: 0 30px 30px 0;
    margin-top: -3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 5px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
#edit-keys-wrapper .form-type-textfield .form-text{background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);border: 1px solid #ABABAA;border-radius: 30px 0 0 30px;height: 25px;max-width: 100%;width: 235px;padding-left: 10px;}
#views-exposed-form-dashboard-page-3 .views-exposed-form .views-exposed-widget {padding: 0.5em 0 0 0;}
#block-views--exp-dashboard-page_2 .content div{
 float: left;
    }

#city-label{
 float: left;}
#header-top-inner #block-block-1 .dropdown:hover ul{
    z-index: 100000;
    opacity: 1;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

}
#header-top-inner #block-block-1 .dropdown-menu{
position: relative;
    z-index: 100000;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
     position: relative;
    right: 150px;
    top: 20px;
}
.privatemsg-author-avatar img, .privatemsg-list-subject img{
    width:50px;
} 

.privatemsg-author-avatar {
    width: 7%;
}
.privatemsg-message-column {
    width: 91%;
}
.privatemsg-message-body {
    margin-left:0px;
}

div.privatemsg-message-information {
    /*border-bottom: none;*/
    margin-bottom: 0px;
    width: 100%;
}
.privatemsg-message-body p{margin:0;text-align: justify;}
.privatemsg-author-name {font-size: 100%;padding-right: 1em;}
div.privatemsg-message ul.privatemsg-message-actions {float: right;padding: 0;}
.page-messages-view #content{background: none repeat scroll 0 0 #FFFFFF;}
.page-messages-view .privatemsg-message{
    background-color:  #F2FBF5;
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    padding: 10px;
    width:97%;
}
.privatemsg-author-name,.privatemsg-message-participants .username,.msg-author-name .username, .privatemsg-author-name a{
    color: #0088CC;
    font-size: 12px;
    font-weight: 700;	
}
.msg-author-name-title{margin: 7px 0 1px;}
#checkbox-msg-select{float: left; width: 3%; height: 65px;}
#checkbox-msg-select .form-item{margin-bottom: 1em;margin-top: 1.5em;}
#msg-list-wrapper .user-picture{float: left;width:50px;padding: 6px;}
#msg-list-wrapper{ border-bottom: 1px dotted #C5C5C5; float: right;  width: 97%;}
#privatemsg-list-form .container-inline{    border-bottom: 2px solid #C5C5C5;padding-bottom: 10px;}
.msg-time{float:right}
#message-title-subject .user-picture{display:none}
#author-image .privatemsg-list-message-link, .view-id-dashboard .grippie, .view-id-dashboard .form-actions{display:none}
.user-profile .user-desc {padding-top: 10px;}
#header-top { width: auto;}
#block-block-2{width:37%;}
#header-top-inner{margin: 0 auto;width: 1100px;}
#block-block-2 p{margin: -3px 0 0; text-align: center;}


/*pritam's newly added css*/
.pasteimage img{border: 2px solid #F1F1F1;}

#user-register-form label{
	display:inline !important;
}
#user-register-form{
 	margin: 0 0 0 135px;
        width: 70%;
}
#user-register-form input, #user-register-form select {
border-radius: 3px !important;
}

#user-register-form #edit-pass-pass1{  margin: 0 0 0 126px;}



#user-register-form div.password-confirm {
    float: none !important;
    
}
#user-register-form #edit-name{
    margin: 0 0 0 124px;
    width: 68%;
 border: 1px solid #C1C1C1;
    border-radius: 0 0 0 0;
}
#user-register-form #edit-mail{
   
    margin: 0 0 0 7em;
    width: 68%;
}
#user-register-form #edit-mail, #user-register-form #edit-name, #user-register-form #edit-pass-pass1, #user-register-form #edit-pass-pass2, #user-register-form #edit-field-full-name-und-0-value{
	 border: 1px solid #C1C1C1;
   	 border-radius: 0 0 0 0;
	height: 26px;
}
#user-register-form .form-type-password{width: 52em;!important}

#user-register-form .password-strength {
    width: 15em !important;
    margin-top:0 !important; 
    
}
#user-register-form #edit-pass-pass2{
	margin: 0 0 0 74px;
}
#user-register-form .username form-text required{
	width:62%;margin-top: 25px;
}
#user-register-form #edit-field-full-name-und-0-value{
	width:68%;
	margin: 0 0 0 134px;
}
#user-register-form #edit-field-city-und{
	width:36%;
	margin: 0 0 0 165px;
        height: 32px
}
#user-register-form .form-item .description {
    font-size: 0.85em !important;
    left: 209px;
    position: relative;
    width: 71%;
	z-index:-1000;
}
#user-register-form div.form-item div.password-suggestions{
	border:none;
}
#user-register-form #edit-field-gender-und .option{
	float:none;
}
#user-register-form .form-item-field-purpose-und label{
	
}
#user-register-form #edit-field-purpose .form-item-field-purpose-und #edit-field-purpose-und{
	width:68%;margin: -22px 0 0 178px;
}
#user-register-form .form-checkboxes .form-item, .form-radios .form-item{margin-left:24px;}
#user-register-form .form-item-field-profile-pic-und-0{width:100%}
#user-register-form .form-item-field-profile-pic-und-0 label{width:31%; float:left}
#user-register-form #edit-field-profile-pic-und-0-upload{float: left;position: relative;width: 69%;z-index: 100;}
#user-register-form .imagefield-crop-widget{float: left;}
#user-register-form .form-item-field-profile-pic-und-0 .file{display:none}
#user-register-form #form-wrapper, .form-type-radios{width:100%}
#user-register-form .field-name-field-gender #edit-field-gender-und{width:68%;margin: 0 0 0 186px;}
#user-register-form .form-item-field-gender-und label,.form-item-field-description-und-0-value label, .form-type-hierarchical-select label{
    display: inline !important;
    float: left;
    width: 30%;
}
#user-register-form .form-item-field-description-und-0-value .form-textarea-wrapper{width:70%;display: inline;
float: left;}
#user-register-form .field-name-field-description { margin-bottom: 80px}
#user-register-form .form-item-field-description-und-0-value .grippie{display:none}
#user-register-form  #field-dateofbirth-add-more-wrapper{margin: 0 0 0 209px;width: 69%;}
#user-register-form #field-dateofbirth-add-more-wrapper{ margin: 0 0 0 208px;width: 69%;}
#user-register-form .form-item-field-dateofbirth-und-0-value-day .date-day{width: 95px;}
#edit-legal{}
#user-register-form input.form-autocomplete {background-position: 100% 4px!important;}
#user-register-form .form-item-field-city-und #autocomplete{margin: 0 0 0 170px;}
select {background-color: white!important;}
.form-item input.error, .form-item textarea.error, .form-item select.error {border: 2px solid red !important;}
#user-register-form #next_first-split-form{float:right}
#user-register-form .button-disabled{opacity: 0.3;}

#webform-client-form-490 .form-actions {
    background-color: #fff;
    border-top: none;
    margin: 0px 0px 0px 0px;
    padding: 0px  0px 0px 0px;
    }
    
#webform-client-form-490 .grippie {

display:none;
} 

.page-user-login .ctools-modal-content {
width: 435px !important;
}


.page-user-login #modalContent {
left: 33% !important;
width: 435px;
}

#webform-client-form-490 textarea{
width: 400px;
}

#webform-client-form-490 #edit-submitted-email {
margin-left: 3px;
}

#user-pass input#edit-name {
height: 23px;
width: 500px;
}
#webform-client-form-490 #edit-submit{
 background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
     border-radius: 4px 4px 4px 4px;
    font-size: 15.5px;
    padding: 5px 12px;
    }
    
    .login-but{
    margin-right: 270px;
    }
    
    .paste-bar a, a.nologin-comment {
    color:black;
    }
